body {
    margin: 0;
    text-align: center;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;

}
a {
    text-decoration: none;
    color: black;
}
li {
    list-style-type: none;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    background: #fff;
    border: 2px solid #f0efe4;

}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    margin: 20px ;
    padding-left: 70px;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    font-size: 25px;
}

.nav, .menu {
    display: flex;
    justify-content: center;
}

.menu-item {
    padding: 20px;
    align-items: center;
}

.btn {
    padding: 10px;
    background: orange;
    border-radius: 20px;
    align-self: center;
    color: #fff;
}

.btn:hover {
    color: orange;
    background: #fff;
    border: 1px solid orange;
    font-weight: 700;
}
.hero {
    display: flex;
    height: 100vh;
    flex-direction: column;
    padding: 40px 0;
}

.hero-title {
    font-size: 40px;
    margin-bottom: 15px;
}

.hero-subtitle {
    font-size: 20px;
    margin-bottom: 40px;
}
.hero-img {
    width: 100%;
}
